#Wed Jul 21 14:06:19 CEST 2010
option.html.addMarkOfTheWeb=true
xml.closeOnFinish=false
xml.files=../demo/HumanEvolution.xsd;../templates/XSDDoc/xsd/XMLSchema.xsd
xml.launchViewer=true
xml.outputDir=../out
xml.outputFile=
xml.outputFormat=HTML
xml.template=../templates/XSDDoc/FramedDoc.tpl;../templates/XSDDoc/PlainDoc.tpl;../templates/XMLDoc/PlainDoc.tpl;../templates/XMLDoc/FramedDoc.tpl
