/.project
/.settings
qafe-business/*target*
qafe-business/.classpath
qafe-business/.project
qafe-business/.settings
qafe-core/.classpath
qafe-core/.project
qafe-core/.settings
qafe-core/target
qafe-distribution/.project
qafe-distribution/.settings
qafe-distribution/api/.classpath
qafe-distribution/api/.project
qafe-distribution/api/.settings
qafe-distribution/api/target
qafe-distribution/gae/.classpath
qafe-distribution/gae/.project
qafe-distribution/gae/.settings
qafe-distribution/gae/target
qafe-distribution/standard/.classpath
qafe-distribution/standard/.project
qafe-distribution/standard/.settings
qafe-distribution/standard/target
qafe-distribution/target
qafe-distribution/weblogic/.classpath
qafe-distribution/weblogic/.project
qafe-distribution/weblogic/.settings
qafe-distribution/weblogic/target
qafe-import-export/.project
qafe-import-export/.settings
qafe-import-export/import-export-api/.classpath
qafe-import-export/import-export-api/.project
qafe-import-export/import-export-api/.settings
qafe-import-export/import-export-api/target
qafe-import-export/import-export-library-servlet/.classpath
qafe-import-export/import-export-library-servlet/.project
qafe-import-export/import-export-library-servlet/.settings
qafe-import-export/import-export-library-servlet/target
qafe-import-export/import-export-service/.classpath
qafe-import-export/import-export-service/.project
qafe-import-export/import-export-service/.settings
qafe-import-export/import-export-service/target
qafe-import-export/target
qafe-mobile-gwt/target
qafe-presentation/.classpath
qafe-presentation/.project
qafe-presentation/.settings
qafe-presentation/target
qafe-web-gwt/.classpath
qafe-web-gwt/.gwt
qafe-web-gwt/.project
qafe-web-gwt/.settings
qafe-web-gwt/src/main/gwt-unitCache
qafe-web-gwt/src/main/webapp/WEB-INF/deploy
qafe-web-gwt/src/main/webapp/qafegwt
qafe-web-gwt/target
qafe-web/.classpath
qafe-web/.project
qafe-web/.settings
qafe-web/target
qafe-webapps/.settings
qafe-webapps/qafe-gwt-generic-webapp/.classpath
qafe-webapps/qafe-gwt-generic-webapp/.project
qafe-webapps/qafe-gwt-generic-webapp/.settings
qafe-webapps/qafe-gwt-generic-webapp/src
qafe-webapps/qafe-gwt-generic-webapp/target
qafe-webapps/qafe-gwt-weblogic-webapp/.classpath
qafe-webapps/qafe-gwt-weblogic-webapp/.project
qafe-webapps/qafe-gwt-weblogic-webapp/.settings
qafe-webapps/qafe-gwt-weblogic-webapp/target
qafe-webapps/target
/target
qafe-mobile-gwt/.classpath
qafe-mobile-gwt/.project
qafe-mobile-gwt/.settings/.jsdtscope
.settings
qafe-webapps/.project
qafe-mobile-gwt/src/main/webapp/WEB-INF/deploy
qafe-mobile-gwt/src/main/webapp/qafemobile
qafe-mobile-gwt/src/main/gwt-unitCache/gwt-unitCache-0000014780FE9417
qafe-mobile-gwt/src/main/gwt-unitCache
qafe-web-gwt/src/main/java/com/qualogy/qafe/gwt/.gitignore
qafe-web-gwt/nbactions.xml
settings.xml
qafe-mobile-gwt/.gwt/.gwt-log
qafe-webservice/.classpath
qafe-webservice/.project
