#java files
*target*
*.jar
*.war
*.ear
*.class

#netbeans files
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

#intellij files
.idea/
*.iml

# Eclipse files
*.launch
.project
.buildpath
local.properties
.settings/
.loadpath
.classpath

#general files
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
*.DS_Store
*.lock
*.log
*.out
*.info

#qafe platform
qafegwt/
qafemobile/

# boilerplate generated classes #
.apt_generated/

# more caches and things from deploy #
war/WEB-INF/deploy/
war/WEB-INF/classes/

#compilation logs
.gwt/

#caching for already compiled files
gwt-unitCache/

#gwt junit compilation files
www-test/

#old GWT (1.5) created this dir
.gwt-tmp/

